<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmpyrionTranslator.EmpyrionTranslator" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmpyrionTranslator.EmpyrionTranslator>
            <setting name="DeepLAPIKey" serializeAs="String">
                <value>d505990f-581d-43dc-a57e-b688bea6a8cf:fx</value>
            </setting>
        </EmpyrionTranslator.EmpyrionTranslator>
    </userSettings>
</configuration>